/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	color: inherit;
	cursor: pointer;
}

img {
	display: block;
}

/* common */

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
	background-color: #ffffff;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.accent-color {
	color: #4d5ae5;
}

.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	color: #2e2f42;
}

.container {
	max-width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}

.nav {
	display: flex;
	align-items: center;
}

.section {
	padding: 120px 0;
}

/* header */

.header {
	border-bottom: 1px solid #e7e9fc;
}

.header-inner {
	display: flex;
	justify-content: space-between;
}

.header-logo {
	margin-right: 76px;
}

.logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #2e2f42;
}

.menu {
	display: flex;
	column-gap: 40px;
}

.menu-link {
	font-weight: 500;
	color: #2e2f42;
	padding: 24px 0;
	display: block;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
	color: #404bbf;
}

.active::after {
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	background-color: #404bbf;
	border-radius: 2px;
	margin-bottom: -1px;
}

.contacts-list {
	display: flex;
	column-gap: 40px;
}

.contacts-item-link {
	font-style: normal;
	padding: 24px 0;
	display: block;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item-link:hover,
.contacts-item-link:focus {
	color: #404bbf;
}

/* hero */

.hero {
	background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
		url('../images/hero-background-image.jpg') 0 / cover no-repeat;
	padding: 188px 0;
}

.title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	color: #ffffff;
	max-width: 496px;
	margin: 0 auto 48px auto;
}

.order-button {
	display: block;
	margin: 0 auto;
	font-weight: 500;
	letter-spacing: 0.04em;
	color: #ffffff;
	background-color: #4d5ae5;
	border: transparent;
	padding: 16px 32px;
	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
	background-color: #404bbf;
}

/* benefits */

.benefits-list {
	display: flex;
	column-gap: 20px;
}

.benefits-item {
	flex-basis: calc((100% - 60px) / 4);
}

.benefits-item-icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	border: 1px solid #8e8f99;
	background-color: #f4f4fd;
	padding: 24px;
	margin-bottom: 8px;
}

.benefits-icon {
	text-align: center;
}

.benefits-item-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: #2e2f42;
	margin-bottom: 8px;
}

/* our team */

.team {
	background-color: #f4f4fd;
}

.team-section-title {
	margin-bottom: 72px;
}

.team-list {
	display: flex;
	column-gap: 24px;
}

.team-item {
	flex-basis: calc((100% - 72px) / 4);
	border-radius: 0px 0px 4px 4px;
	background-color: #ffffff;
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
		0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-content {
	padding: 32px 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	row-gap: 8px;
}

.team-item-name {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	color: #2e2f42;
	letter-spacing: 0.025em;
}

.team-item-socials-list {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 24px;
}

.team-item-socials-link {
	padding: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-color: #4d5ae5;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-socials-link:hover,
.team-item-socials-link:focus {
	background-color: #404bbf;
}

.team-item-socials-icon {
	display: block;
	fill: #ffffff;
}

/* portfolio */

.portfolio-section-title {
	margin-bottom: 72px;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 48px 24px;
}

.portfolio-item {
	flex-basis: calc((100% - 48px) / 3);
}

.portfolio-item-link {
	display: block;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	outline-color: transparent;
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
		0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-image-wrapper {
	position: relative;
	overflow: hidden;
}

.portfolio-item-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	background-color: #4d5ae5;
	padding: 40px 32px;
	color: #f4f4fd;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover .portfolio-item-overlay,
.portfolio-item-link:focus .portfolio-item-overlay {
	transform: translateY(0);
}

.portfolio-item-content {
	padding: 32px 16px;
	border: 1px solid #e7e9fc;
	border-top: none;
}

.portfolio-item-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: #2e2f42;
	margin-bottom: 8px;
}

/* footer */

.footer {
	padding: 100px 0;
	color: #f4f4fd;
	background-color: #2e2f42;
}

.footer-container {
	display: flex;
	column-gap: 120px;
}

.footer-logo {
	display: block;
	color: #f4f4fd;
	margin-bottom: 16px;
}

.footer-text {
	max-width: 264px;
}

.footer-socials-title {
	font-weight: 500;
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 16px;
}

.footer-socials-list {
	display: flex;
	align-items: center;
	column-gap: 16px;
}

.footer-socials-link {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #4d5ae5;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
	background-color: #31d0aa;
}

.footer-socials-icon {
	fill: #f4f4fd;
}
